<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirigiendo...</title>
    <script type="text/javascript">
        window.onload = function() {
            window.open("{{ enlace_whatsapp }}", "_blank");
            window.location.href = "/sistema/parqueadero/";  // Redirige al sistema si el enlace se abre
        };
    </script>
</head>
<body>
    <p>Redirigiendo a WhatsApp...</p>
</body>
</html>
