{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosques De Zapán 2</title>
    <link rel="stylesheet" href="{% static "css/index_style.css" %}">
        <!-- boxicons link  -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- lightgallery link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js"></script>
    <!-- OwlCarousel2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"/>    
    <!-- lightgallery  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css"/>

</head>
<body>

    <header>

        <!-- navbar seccion inicio -->

        <nav id="navbar" class="navbar flex-row">
            <ul id="nav-items" class="nav-items">              
                {% if user_au == True %}

                <li><a href="{% url 'logout' %}" class="nav-links">Cerrar sesión</a></li>
                <li class="welcome-message">Bienvenido <span>{{ name }}</span></li>
                {% else %}
                <li><a href="sistema/login/" class="nav-links">Iniciar sesión</a></li>
                <!-- <li><a href="sistema/crear_usuario/  " class="nav-links">crear</a></li> -->
                {% endif %}                       
            </ul>

            <div class="nav-icon menu-btn-wrapper">
                <i id="menu-btn" class="menu-btn bx bx-menu"></i>
            </div>


        </nav>
        <!-- navbar seccion fin -->


        <!-- prenav seccion inicio -->

        
        <div id="prenav-text">
            <div class="flex-row">
                <div class="contact-info">telefono: <span>+57 5556666</span> correo:
                    <span>atencionalcliente@olympo.com</span></div>
            <div class="opening-times flex-row">
            </div>
        </div>

        
    </header>

    <section id="home">
        <div class="home_carousel owl-carousel owl-theme">
            <div class="slide slide1">
                <div class="content">
                    <p class="subheading">Conjunto Residencial Bosques De Zapán 2 </p>
                </div>
            </div>
            <div class="slide slide2">
                <div class="content">
                    <p class="subheading">Conjunto Residencial Bosques De Zapán 2 </p>

                </div>
            </div>
            <div class="slide slide3">
                <div class="content">
                    <p class="subheading">Conjunto Residencial Bosques De Zapán 2 </p>

                </div>
            </div>
        </div>
    </section>

    <!-- seccion inicio fin home  -->


    <!-- seccion about us inicio -->

    <section id="about" class="flex-row">
        <div class="booking-form">
            <h2>Reservacion</h2>
            
        </div>
    
        <div class="text-wrapper">
            <h1>Olympo</h1>
            <h3>Conjunto</h3>
            <p>Descubre el Conjunto : vistas impresionantes, <br> servicio de primera y una experiencia inolvidable te esperan. <br> <strong>¡Ven y vive el paraíso!</strong></p>
        </div>

        <div class="img-wrapper">
            <img src="{% static 'images/imagehotelfuera2.jpg' %}" alt="#">
        </div>
    </section>
    <!-- seccion about us fin -->

    <!-- quotes start -->

    <section id="quote">
        <div class="text-wrapper">
            <h1>Siempre Disponibles</h1>
            <h2>En olympo descubriras lo que es la grandeza</h2>
            
        </div>
    </section>

    <!-- quotes end -->

    <section id="habs">
        <div class="section-heading">
            <h3>Conjunto</h3>
            <h1>Disfruta </h1>
            <div class="square-wrapper flex-row">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <br>
            </div>
        </div>
        </div>
    </section>

    <section id="quote">
        <div class="text-wrapper">
            <h1>Encontraras lo que Buscas </h1>
            <h2>En Olympo puedes ver todas las zonas </h2>

        </div>
    </section>



    <!-- footer tales -->

    <footer class="footer" id="footer">
        <div class="footer-top flex-row">
            <div class="flex-col">
                <h4 class="logo-name">Olympo(Logo)</h4>

                <p class="desc">En lo más alto de una colina, rodeado de exuberante vegetación y con vistas panorámicas que quitan el aliento, se alza el majestuoso Hotel Olympo. Este refugio de lujo combina la elegancia atemporal con el encanto de la naturaleza circundante.</p>

    
            </div>

            <div class="flex-col">
                <h4 class="heading">DIRECCION</h4>

                <p class="desc">Transversales 5 #3-64, Soacha, Cundinamarca</p>

                <p class="desc">telefono: <span>+57 5556666</span> correo: <span>atencionalcliente@olympo.com</span></p>

            </div>

            <div class="flex-col">
                <h4 class="heading">Horarios</h4>
                <ul class="timings flex-col">
                    <li>
                        <p class="days">Lunes</p>
                        <div class="time">6:00 AM - 7:00 PM</div>
                    </li>
                    <li>
                        <p class="days">Martes</p>
                        <div class="time">6:00 AM - 7:00 PM</div>
                    </li>
                    <li>
                        <p class="days">Miercoles</p>
                        <div class="time">6:00 AM - 7:00 PM</div>
                    </li>
                    <li>
                        <p class="days">Jueves</p>
                        <div class="time">6:00 AM - 7:00 PM</div>
                    </li>
                    <li>
                        <p class="days">Viernes</p>
                        <div class="time">6:00 AM - 7:00 PM</div>
                    </li>
                    <li>
                        <p class="days">Sabado</p>
                        <div class="time">6:00 AM - 5:00 PM</div>
                    </li>
                    <li>
                        <p class="days">Domingo</p>
                        <div class="time">6:00 AM - 4:30 PM</div>
                    </li>
                </ul>
            </div>

            
        </div>

        <div class="footer-bottom flex-row">
        </div>
    </footer>

    
        

    <!-- Servicios End -->
    <!-- light gallery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- carrousel script  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- local script  -->
    <script src="{% static "js/index_ja.js" %}"></script>

    
</body>
</html>

<script>
    // Función para comprobar si las cookies están aceptadas
    function checkCookiesAccepted() {
      // Verificamos si la cookie 'cookiesAccepted' está definida y su valor es 'true'
      if (document.cookie.split(';').some((item) => item.trim().startsWith('cookiesAccepted='))) {
        return true;
      }
      return false;
    }
    
    // Función para establecer la cookie cuando el usuario acepta las cookies
    function acceptCookies() {
      document.cookie = "cookiesAccepted=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
    }
    
    // Función para mostrar la alerta de cookies si aún no han sido aceptadas
    function showCookiesAlert() {
      if (!checkCookiesAccepted()) {
        if (confirm("Este sitio web utiliza cookies para mejorar la experiencia del usuario. ¿Aceptar cookies?")) {
          acceptCookies();
        }
      }
    }
    
    // Llamamos a la función para mostrar la alerta de cookies cuando la página se carga
    window.onload = showCookiesAlert;
    </script>